<!DOCTYPE html>
<html>

<head>
  <style>
    .message-content {
      font-family: Arial, Helvetica, sans-serif;
      max-width: 600px;
      font-size: 18px;
      line-height: 21px;
    }

    p {
      margin: 10px 0;
    }

    i {
      font-size: 14px;
      line-height: 21px;
      color: #7c7c7c;
      margin: 30px 0;
    }

    img {
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="message-content">
    <p>Olá, {{name}}</p><br />
    <p>Foi solicitado uma troca de senha para sua conta</p>
    <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
    <p>
      <a href="{{link}}">Resetar minha senha.</a><br /><br />
      <i>{{link}}</i>
    </p>
    <p>O link para trocar sua senha expira em <strong>2 horas</strong>.</p><br />
    <p>Caso não tenha solicitado essa troca de senha simplesmente ignore esse e-mail.</p><br />
    <p>
      Obrigado!<br />
      <span>Equipe | <strong>Rentx.</strong></span><br />
      <img src="{{logo_link}}">
    </p>
  </div>
</body>

</html>
