<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  p {
    margin: 10px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Foi solicitado uma troca de senha para sua conta</p>
  <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha.</a>
  </p>
  <p>O link para trocar sua senha expira em 2 horas.</p>
  <p>Caso não tenha solicitado essa troca de senha simplesmente ignore esse e-mail.</p>
  <p>
    Obrigado!<br />
    <span>Equipe | <strong>Rentx.</strong></span>
    <img src="https://i.imgur.com/oUAKMC5.png">
  </p>
</div>
